.services_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: var(--container-width-lg);
    margin: 0 auto;
}
.service{
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 2px solid var(--color-primary);
    transition: var(--transition);
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 400px; /* Set a minimum height for all cards */
}
.service:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.service_head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 3rem 3rem;
    box-shadow: 0 1rem 1rem rgba(44, 43, 43, 0.1);
}
.service_head h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}
.service_list{
    padding: 2rem;
    flex-grow: 1; /* This will make the list section expand to fill available space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.service_list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.service_list_icon{
    color:var(--color-primary);
    margin-top:16px;
}
.service_list p{
    font-size: 0.9rem;
}
/* ===========MEDIA QUERIES=========== */
/* for tablets */
@media screen and (max-width: 1024px){
    .services_container{
        gap: 2rem;
    }
    .service{
        height: auto;
    }
    .service_list li{
        gap: 0.5rem;
    }
    .service_list_icon{
        height: 2rem;
        width: 2rem;
        margin-top: 10px;
    }
}
/* for mobile */
@media screen and (max-width:600px){
    .services_container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}

